#barra{
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20px;
}
#busqueda{
    padding-top: 20px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:darkgreen;
    padding-inline-end: 5cm;
    padding-left: 20px;
}
.card-img-top{
    width: 3cm;
}
.bottonMore{
    font-weight: bold;
    text-align: Center;
    border-radius: 4px;
    padding: 5px 25px;
    color:white;
    text-align:center;
    border-style: hidden;
    background-color: darkgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title{
    padding-left: 2cm;
    padding-top: 0.5em;
    border-right: 5cm;
    font-size: xx-large;
    font-weight: 500;
    color:green;
    font-family: Georgia, 'Times New Roman', Times, serif;

}