
<div style="text-align: center;">
    <form novalidate [formGroup]="editorial" form (ngSubmit)="agregarEditorial()">
      <div class="form-group">
        <label>
          <span>Correo Electronico</span>
          <input
            class="form-control"
            type="text"
            placeholder="ejemplo: correo@dominio.com"
            formControlName="email"
          />
        </label>
        <div
          class="error"
          style="color: red;"
        >
          email requerido
        </div>
      </div>

      <div class="form-group">
        <label>
          <span>ingrese la consulta</span>
          <input
            class="form-control"
            type="text"
            formControlName="mensaje"
            style="padding: 10pm; width: 500px; outline: none;">
    
        </label>
        <div
          class="error"
          style="color: red;"
        >
          Mensaje requerido
        </div>
      </div>
  
      <div>
          <br>
        <button type="submit" [disabled]="editorial.invalid" class="btn btn-success" >
          enviar correo
        </button>
      </div>
    </form>
    <p>Form value: {{ editorial.value | json }}</p>
    <p>Form status: {{ editorial.status | json }}</p>
  </div>


