<div class="title">Editoriales actuales al {{LocalDate | date:"dd-MM-yyyy"}}<span *ngIf="editar==true">/ editar editorial</span></div>

<div *ngIf="editar==false">
    <div style="padding-left: 30px;">
        <button class= "bottonAdd" [routerLink]="['agregarEditorial']" routerLinkActive="active"> Agregar editorial </button> 
     </div>
    <div id="barraBusqueda">
    <div>
        <div id="busqueda" ><b>Buscar editorial por nombre</b></div>
    </div>
    
    <div id="barra">
        <form (ngSubmit)="filtrarEditoriales()">
            <input type="text" placeholder="filtrar por nombre editorial" name="filtro" [(ngModel)]="filtro">
            <button class type="submit"><i class="fa fa-search-plus" aria-hidden="true"></i></button>
          </form>
          <div id="busqueda"><strong>Apretar restablecer despues de la busqueda</strong> </div>
          <button class type="submit"(click)="restablecerEditoriales()" class="bottonMore" >Restablecer Autores</button>
    </div>
    </div>

    <div class="divTable table-wrapper-scroll-y my-custom-scrollbar">   
        <table class="table">
    
             <thead class="tableTitles">
                  <th scope="col">Nombre</th>
                  <th scope="col">Opciones</th>
    
             </thead>
             <tbody>
    
                       <tr *ngFor='let editorial of editoriales' >
    
                            <th>
                                <span>{{editorial.nombre}}</span>
                            </th>
                       
                            <td>
                                 <button button class="bottonEdit" (click)="obtenerEditorialEditar(editorial)" >
                       
                                    Editar
                            
                                 </button>
    
    
                            </td>
    
                       </tr>
                
             </tbody>
    
             </table>
    
     </div>
</div>

<!-- se carga el borrar datos -->

<div *ngIf="editar==true">
    <div style="padding-left: 30px;">
        <button class="bottonMore" (click)="volverEditoriales()">volver</button> 
     </div>         
    <div class ="formulario">
        <form  novalidate [formGroup]="editorialNombre" form (ngSubmit)="editarEditorial()">

                <div class="form-group" style="padding-left: 5cm; padding-right: 5cm;">
                    <label for="cantdidadEditada">Nombre al que desea cambiar de editorial</label>
                    <input class="form-control" type="text" formControlName="entradaNombre" placeholder="Ingrese el nuevo nombre de la editorial" [(ngModel)]="nuevoNombre">
                    <b><label for="cantdidadEditada">Nombre anterior editorial : {{editorialEditar.nombre}}</label></b>
                </div>

                <div style="padding-left: 5cm">
                <br>
                    <button type="submit" [disabled]="editorialNombre.invalid" class="btn btn-success">
                        Editar nombres de la editorial
                    </button>
                </div>
      
        </form>

      </div>

</div>