<div class="title"><span>Editoriales actuales/ agregar Editorial</span></div>
<br>
<div style="padding-left: 30px;">
  <button class= "bottonVolver" ngbNavLink routerLink="/editoriales" routerLinkActive="active"> ir a Editoriales </button> 
</div>
<br>

<div class ="formulario">
  <form  novalidate [formGroup]="editorial" form (ngSubmit)="agregarEditorial()">
    <div class="form-group">
      <label for="editorial">Nombre Editorial</label>
      <input class="form-control" id="editorial" type="text" formControlName="nombreEditorial" placeholder="Nombre de Editorial" [(ngModel)]="nombre">
    </div>
    <div
          class="error"
          style="color: red;"
          *ngIf="editorial.invalid == true" 
        >
          Nombre de la editorial requerida
        </div>
    <div>
    <br>
        <button type="submit" [disabled]="editorial.invalid" class="btn btn-success">
          Agregar Editorial
        </button>
    </div>

  </form>
</div>
