.bottonVolver{
    font-weight: bold;
    flex:auto;
    font-size: small;
    text-align: Center;
    border-radius: 4px;
    display:inline-flex;
    padding: 5px 25px;
    color:white;
    text-align-last: center;
    border-style: hidden;
    background-color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.formulario{
    padding-left:5em; 
    padding-right:5em;
}
.title{
    padding-left: 2cm;
    padding-top: 0.5em;
    border-right: 5cm;
    font-size: xx-large;
    font-weight: 500;
    color:green;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
