<div class="title"><span>Autores actuales/ agregar Autor</span></div>
<br>
<div style="padding-left: 30px;">
  <button class= "bottonVolver" ngbNavLink routerLink="/autores" routerLinkActive="active"> volver </button> 
</div>
<br>

<div class ="formulario">
  <form  novalidate [formGroup]="autor" form (ngSubmit)="agregarAutor()">
    <div class="form-group">
      <label for="editorial">Nombre Autor</label>
      <input class="form-control" id="editorial" type="text" formControlName="nombre" placeholder="Nombre del Autor" [(ngModel)]="nombre">
      <div
          class="error"
          style="color: red;"
      >
          Nombre del autor requerido
      </div>
    </div>
    <div class="form-group">
      <label for="editorial">Apellido</label>
      <input class="form-control" id="editorial" type="text" formControlName="apellidos" placeholder="Nombre de Editorial" [(ngModel)]="apellido">
      <div
          class="error"
          style="color: red;"
      >
          apellido del autor requerido
      </div>
    </div>
    
    <div>
    <br>
        <button type="submit" [disabled]="autor.invalid" class="btn btn-success">
          Agregar Editorial
        </button>
    </div>

  </form>
</div>

  

  <br>
<div style="padding-left: 30px;">
  <button class= "bottonVolver" ngbNavLink routerLink="/editoriales" routerLinkActive="active"> ir a Editoriales </button> 
</div>
<br>
