<div class="fondo">
    <br>
    <div>

      <img src="../../assets/Carrousel.jpg"  style="height: 500px; margin: auto; display: block; min-width: 200px;">
    <br>
    <hr>
    <p class="texto-cabezal">Servicios</p>
    <hr>

    <div class="servicios" >
      <h5>Venta de libros</h5>
      <h5>Anillados</h5>
      <h5>fotocopia</h5>
      <h5>termolaminado</h5>
    </div>

    <hr>
    <p class="texto-cabezal">Nuestro lema</p>
    <hr>

    <div class="frase" >
      <h5 >"La capacidad y gusto por la lectura da acceso a lo que ya ha sido descubierto por otros"</h5>
      <h3>-Abraham Lincoln</h3>
    </div>
      
    <!-- comienza oferta -->
    <hr>
    <p class="texto-cabezal">Contactanos</p>
    <hr>
    <div class="contactanos">
      <a href="https://www.facebook.com/libreriamiradorchillan">
      <img src="../../assets/facebook.png" style="width: 50px;"></a>
      <a href="https://www.instagram.com/libreriamirador/">
      <img src="../../assets/instagram.png" style="width: 50px;"></a>
      <img src="../../assets/WhatsApp.png" style="width: 50px;">
      <h5> +56996780688 </h5>
    </div>
    <br>
</div>
